.formContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  width: 50%;
}

.formErrorText {
  color: red;
  font-size: 14px;
  font-weight: 500;
}

.formInput {
  border: 1px solid lightgray;
  border-radius: 8px;
  font-size: 16px;
  padding: 16px;
  width: 100%;
}

.formInputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.formInputLabel {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.formLink {
  color: royalblue;
  font-size: 16px;
  font-weight: 600;
  width: auto;
}

.formSubmitButton {
  background-color: royalblue;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  width: 100%;
}

.formSubmitButtonContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
