.pageContainer {
  display: flex;
  flex-direction: column;
  padding: 32px 80px;
}

.fundraiserImageContainer {
  aspect-ratio: 16/9;
  width: 60%;
  border-radius: 16px;
  overflow: hidden;
}

.fundraiserImage {
  height: 100%;
  width: 100%;
}
