.headerContainer {
  align-items: center;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 80px;
  padding: 32px 48px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;
}

.headerLink {
  color: #272044;
  font-weight: 500;
}

.headerLinkActive {
  color: #885df1;
  font-weight: 500;
}

.headerLeft {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 32px;
  justify-content: flex-start;
}

.headerIcon {
  font-size: 20px;
}

.headerUserContainer {
  display: flex;
  align-items: center;
  gap: 32px;
}

.headerRight {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 32px;
  justify-content: flex-end;
}

.headerLogo {
  color: #272044;
  font-size: 24px;
  font-weight: 700;
}

.headerAvatarContainer {
  border-radius: 100%;
  height: 32px;
  overflow: hidden;
  width: 32px;
  :hover {
    cursor: pointer;
  }
}

.headerAvatarImage {
  height: 100%;
  width: 100%;
}

.headerAuthButton {
  background: none;
  border: 1px solid #885df1;
  font-weight: 600;
  padding: 12px 40px;
  color: #885df1;
  font-weight: 600;
  font-size: 16px;
  border-radius: 24px;
}
