.menuContainer {
  padding: 32px 80px;
}

.menuLinksContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.categoryLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 32px;
  gap: 16px;
  border: 1px solid lightgray;
  font-size: 18px;
  font-weight: 600;
}

.categoryLinkImageContainer {
  aspect-ratio: 1/1;
  border-radius: 100%;
  width: 100%;
  overflow: hidden;
}

.categoryLinkImage {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
