.menuContainer {
  padding: 48px;
  background-color: #fff9ed;
  gap: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuLinksContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.menuTitle {
  color: #272142;
  font-size: 32px;
  font-weight: 700;
}
