.headerContainer {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  display: flex;
  height: 80px;
  padding: 32px;
  position: sticky;
  top: 0;
  width: 100%;
}
