.footerContainer {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  height: 60px;
  padding: 32px;
  width: 100%;
}

.footerCenter {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 24px;
  justify-content: center;
}

.footerLeft {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 24px;
  justify-content: flex-start;
}

.footerRight {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 20px;
  gap: 16px;
  justify-content: flex-end;
}
