.footerContainer {
  align-items: center;
  background-color: white;
  display: none;
  height: 64px;
  padding: 32px 48px;
  width: 100%;

  @media (min-width: 768px) {
    display: flex;
  }
}

.footerCenter {
  align-items: center;
  display: flex;
  flex: 2;
  gap: 32px;
  justify-content: center;
}

.footerLeft {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 32px;
  justify-content: flex-start;
}

.footerRight {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 22px;
  gap: 32px;
  justify-content: flex-end;
}

.footerLink {
  word-break: unset;
  font-size: 16px;
}
